{
	"env": {
			"browser": true,
			"es2021": true
	},
	"extends": [
			"airbnb-base",
			"plugin:@typescript-eslint/recommended",
			"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
			"ecmaVersion": 12,
			"sourceType": "module"
	},
	"plugins": [
		"eslint-plugin-import-helpers",
		"@typescript-eslint",
		"prettier"
	],
	"rules": {
		"import/prefer-default-export": "off",
		"no-shadow":"off",
		"no-use-before-define": "off",
		"camelcase": "off",
		"@typescript-eslint/no-use-before-define": [
			"error"
		],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"ts": "never"
			}
		],
		"@typescript-eslint/no-explicit-any": "warn",
		"prettier/prettier": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn", // or "error"
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-namespace": "off",
		"no-await-in-loop":"off",
		"no-restricted-syntax": "off",
		"@typescript-eslint/no-non-null-asserted-optional-chain": "off",
		"array-callback-return":"off",
		"no-empty": "off",
		"no-lone-blocks":"off",
		"no-param-reassign": "off",
		"no-underscore-dangle": "off",
		"consistent-return": "off",
		"default-case":"off",
		"no-plusplus": "off",
		"no-unused-expressions":"off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/ban-types": "off",
		"no-unused-vars": "warn",
		"no-continue": "off",
		"import/no-relative-packages": "off",
    "prefer-arrow-callback": 1,
		"no-return-await":"off",
		"no-irregular-whitespace": "error",
		"no-trailing-spaces": "error",
		"eol-last": [
			"error",
			"always"
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1
			}
		]
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	}
}
